<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2995e2d5-483f-4ab4-b5d0-27c86fac2a5e" Publisher="CN=Michael" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Multinotes</DisplayName>
    <PublisherDisplayName>Michael</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Multinotes.App">
      <VisualElements DisplayName="Multinotes" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Multinotes" ForegroundText="light" BackgroundColor="#156015">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>